@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bangers&family=Roboto&display=swap');




body {
  background: #06313F;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: Georgia, Times, Serif;
  font: 13px sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

.nav_list {
  padding-top: 7px;
  list-style: none;
  justify-content: space-between;
  letter-spacing: 5px;
  display: inline-flex;
  padding-left: 75px;
}

.nav_list-item {
  color: #FFF;
  margin: 5px;
  word-spacing: normal;
}

.nav_link {
  padding-left: 20px;
  color: #FFF;
  font-size: 20px;
  word-spacing: 5px;
  font-family: 'Bangers', cursive;
}

.bio {
  padding-top: 5px;
  display: inline-flex;
  padding-left: 50px;
  font-size: 30px;
  color: #fff;
  font-family: 'Bangers', cursive;
}






/*Main Page Info*/
section {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

#hero {
  background-image: url(https://chadswebsite.s3.us-east-2.amazonaws.com/Digital+Marketing+coding+marketing+peter+henderson+gif+animation+vecto.gif);
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  height: auto;
}

#hero #chad {
  position: absolute;
  z-index: 1;
}

#hero div #info, #projects, footer, header nav {
  margin: 0 auto;
}

#hero div {
  min-height: 600px;
  padding: 0;
  border: 0;
  font: inherit;
  display: block;
}

#hero h1 {
    font-size: 30px;
    padding: 50px 0 10px;
    color: rgb(7, 0, 0);
    font-family: 'Acme', sans-serif;
}

#hero h1, #hero p {
  margin-left: 60px;
  font-family: 'Acme', sans-serif;
}

#hero p {
  color: rgb(5, 0, 0);
  font-size: 20px;
  display: flex;
}





/*Quote on main page*/
section{
  display: block;
  padding: 0;
  border: 0;
  margin: 0;
}

#quote {
  background: #000;
  text-align: center;
}

#quote blockquote {
  font-size: 20px;
  line-height: 20px;
  padding: 30px 15px 80px;
  max-width: 650px;
  margin: 0 auto;
  color: #fff;
}

blockquote, q {
  quotes: none;
}

blockquote {
  border: 0;
  font: inherit;
}

#quote blockquote cite {
  margin-top: 50px;
  display: block;
  font-style: italic;
}

#quote blockquote cite::before {
  content: '-';
}

.clearfix::after, dl::after, footer::after, nav::after, section::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}





/*Info About Me*/
.biography {
  background: #2d2c2c;
}


.info img {
	display: block;
  margin: 0 auto;
}


#info p {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  padding-top: 20px;
  display: inline-flex;
}

p {
  font-size: 16px;
  line-height: 23px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  letter-spacing: 1px;
}






/*Projects*/
#projects {
  background-color:lightslategray;;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  font-family: museo-sans, Helvetica, sans-serif;
}

section {
  display: block;
  margin: 0;
  border: 0;
  font: inherit;
}

#projects ul {
  list-style: none;
  margin: 0;
  font-size: 16px;
  line-height: 23px;
  padding-bottom: 15px;
}

ul {
  padding: 0;
  border: 0;
  font: inherit;
}


#projects li {
  width: 25%;
  float: left;
  margin: 2%;
  background: #fff;
}

#projects a {
  border: 1px solid #000000;
  color: lightslategray;
  display: block;
}

a {
  text-decoration: none;
}

#projects img {
  width: 100%;
}

img {
  padding: 0;
  border: 0;
  font: inherit;
  margin: 0;
  vertical-align: baseline;
}

#projects h4 {
  margin: 10px 15px 0;
}

h4 {
  color: #000000;
  font-size: 20px;
  font-weight: 900;
  font-family: museo-sans, Helvetica, sans-serif;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: center;
  display: flex;
}

#projects p {
  font-size: 10px;
  margin: 0 15px 0;
  text-align: center;
}

p {
  line-height: 23px;
  padding-bottom: 15px;
  text-align: center;
}


@media (max-width: 768px) {
	body {
		height: 15vh;
	}

}

