@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bangers&family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(#501402, #270a02);
  color: #fff;
  font-size: 16px;
  font-family: Georgia, Times, Serif;
  font: 13px sans-serif;
  width: 100%;
}

.nav {
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-color: #000000;
  min-height: 7vh;
} 



.nav_list {
  list-style: none;
  justify-content: space-between;
  display: flex;
  letter-spacing: 3px;
  padding-left: 15px;
  padding-right: 20px;
}

.nav_list-item {
  color: #FFF;
  margin: 5px;
  word-spacing: normal;
  padding-top: 9px;
}

.nav_link {
  color: #FFF;
  font-size: 20px;
  word-spacing: 5px;
  font-family: 'Bangers', cursive;
  padding-left: 6px;
  
}

.bio {
  padding-top: 13px;
  padding-left: 20px;
  font-size: 22px;
  color: #fff;
  font-family: 'Bangers', cursive;
  align-content: center;
}






/*Main Page Info*/
section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

.grid-layout {
  display: grid;
  grid-template-columns: 2.5fr 1.5fr;
  grid-template-rows: 10fr;
  grid-gap: 2rem;
  justify-content: center;
  min-height: 93vh;
}

.grid {
  margin: auto;
}

#hero p {
  font-size: 22px;
  word-spacing: 3px;
  font-weight: bold;
  letter-spacing: 0rem;
  line-height: 1.8rem;
  text-align: center;
  margin-right: 30px;
}


#hero div {
  max-width: 100%;
  min-height: 100px;
  padding: 0;
  border: 0;
  font: inherit;
  display: block;
}

.desk {
  width: 100%;
  height: auto;
}

.skill {
  display: inline-flex;
  padding: 7px;
  margin-top: 6px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  margin-left: 5px;
}









/*Projects*/
#projects {
  background: radial-gradient(#525252, #131313);
  display: grid;
  grid-template-rows: auto;
  font-family: museo-sans, Helvetica, sans-serif;
  min-height: 80vh;
}


h1 {
  align-self: center;
  margin: auto;
  font-size: 50px;
  font-family: 'Bangers', cursive;
  padding-top: 70px;
}

section {
  display: block;
  margin: 0;
  border: 0;
  font: inherit;
}

#projects ul {
  list-style: none;
  margin: 0;
  font-size: 16px;
  line-height: 23px;
  padding-bottom: 15px;
}

ul {
  padding: 0;
  border: 0;
  font: inherit;
}


#projects li {
  width: 20%;
  float: left;
  margin: 2%;
  background: #fff;
}

#projects a {
  border: 1px solid #000000;
  display: block;
  background:#000000;
}

a {
  text-decoration: none;
}

#projects img {
  width: 100%;
}

img {
  padding: 0;
  border: 0;
  font: inherit;
  margin: 0;
  vertical-align: baseline;
}

#projects h4 {
  margin: 10px 15px 0;
}

h4 {
  color: #000000;
  font-family: museo-sans, Helvetica, sans-serif;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: center;
  display: flex;
}


#projects h4 {
  font-size: 34px;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  min-height: 8vh;
  background:  #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Bangers', cursive;
  letter-spacing: 2px;
}





/*Quote on main page*/
section{
  display: block;
  padding: 0;
  border: 0;
  margin: 0;
}

#quote {
  background: #000;
  text-align: center;
}

#quote blockquote {
  font-size: 25px;
  line-height: 25px;
  padding: 30px 20px 50px;
  max-width: 650px;
  min-height: auto;
  margin: 0 auto;
  color: #fff;
}

blockquote, q {
  quotes: none;
}

blockquote {
  border: 0;
  font: inherit;
}

#quote blockquote cite {
  margin-top: 50px;
  display: block;
  font-style: italic;
}

#quote blockquote cite::before {
  content: '-';
}






@media (max-width: 768px) {
	body {
		height: 30vh;
	}

}

@media screen and (max-width: 768px) {
	.grid-layout {
        grid-template-columns: 1fr;
      }
}

@media (max-width: 768px) {
	#projects h4 {
		font-size: 15px;
	}

}

@media (max-width: 768px) {
	  h1 {
		padding-top: 5px;
	}

}

@media (max-width: 768px) {
	#hero p {
    padding-left: 20px;
	}

}

